.faq{
    text-decoration: none;
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    border-top: 8px solid #242424;
    border-bottom: 8px solid #303030;
}

h2{
    font-weight: 500;
    font-size: 40px;
    margin-top: 40px;
}
ul{
    list-style: none;
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
ul li{
    
    width: 100%;
    padding: 5px;
}

ul li label{
    
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500px;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;

    &::after{
        content: '+';
        font-size: 34px;
        position: absolute;
        right: 20px;
    }
   
}

ul li label input{
    display: none;
     
}

ul li label .contant{

    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;

}

ul li label .contant-2{
    max-height: 600px;
    padding: 30px 20px;
}

.req{
    text-align: center;
    margin: 50px 0;    
}

.email-signup{
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 30px auto;
    overflow: hidden;
    width: 600px;
}
input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;

}
